<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^images/(.*)$ index.php?act=images&name=$1 [L,QSA]
RewriteRule ^download/([0-9]*)/(.*)$ index.php?act=download&file=$1&name=$2 [L,QSA]
RewriteRule ^settings$ index.php?act=settings [L,QSA]
RewriteRule ^reply/([0-9]*)$ index.php?act=reply&comment_id=$1 [L,QSA]
RewriteRule ^edit/([0-9]*)$ index.php?act=edit&comment_id=$1 [L,QSA]
RewriteRule ^delete/([0-9]*)/(.*)$ index.php?act=delete&comment_id=$1&mdp=$2 [L,QSA]
RewriteRule ^sh/([0-9]*)/(.*)$ index.php?act=show_hide&comment_id=$1&mdp=$2 [L,QSA]
RewriteRule ^spam/([0-9]*)$ index.php?act=spam&comment_id=$1 [L,QSA]
RewriteRule ^attach/([0-9]*)/files$ index.php?act=attach&user_id=$1&type=files [L,QSA]
RewriteRule ^attach/([0-9]*)/graf$ index.php?act=attach&user_id=$1&type=graf [L,QSA]
</IfModule>